body {
  background-image:url("background.jpg");
  background-repeat:no-repeat;
  background-size:cover;

  font-family: 'Roboto', sans-serif;
  color: white;
}

p {
  font-size: 130%;
}

h1 {
  font-size: 400%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}


a:link {
    color: #ecf0f1;
}
a:visited {
    color: #bdc3c7;
}
a:hover {
    color: #95a5a6;
}
a:active {
    color: #7f8c8d;
}
