html, body {
  overflow: hidden;
}

body {
  background-image:url("background.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;

  font-family: 'Roboto', sans-serif;
  color: white;

  position: relative
}

p {
  font-size: 130%;
}

h1 {
  font-size: 400%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

a:link {
    color: #ecf0f1;
}
a:visited {
    color: #bdc3c7;
}
a:hover {
    color: #95a5a6;
}
a:active {
    color: #7f8c8d;
}


#hdwbtn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#hdwbtn:hover {
  background: #2980b9;
  text-decoration: none;
}

#webbtn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #9b59b6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#webbtn:hover {
  background: #8e44ad;
  text-decoration: none;
}

#monbtn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #e67e22;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#monbtn:hover {
  background: #d35400;
  text-decoration: none;
}
